/* 
    Created on : 24 nov. 2014, 14:29:40
    Author     : Maxime BLAISE
    Author     : Antoine NOSAL
*/

table {
    font-family: Arial, Helvetica;
    border: 1px solid lightgray;
    width: 800px;
    border-collapse: collapse;
}

th {
    padding: 10px;
    text-align: left;
    color: white;
    background-color: gray;
}

th:hover {
    background-color: orange;
}

th:active {
    background-color: orangered;
}

td {
    color: black;
    background-color: white;
    padding: 0px 10px;
}

.toto {
    width: 50px;
    padding: 0px;
}